@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300');
@font-face {
    font-family: 'Aleo-Bold';
    src: local("Open Sans"),
         url('../fonts/aleo-regular-webfont.ttf'),
         url('../fonts/aleo-regular-webfont.woff'),
         url('../fonts/aleo-regular-webfont.woff2'),
         url('../fonts/aleo-regular-webfont.eot');

   }


body {
   font-family: 'Raleway';
   font-size: 14px;
   line-height: 1.71;

}

img {
   width: 100%;
   height: auto;

}

.title {
   color: #fff;
   font-family: 'Josefin Sans', sans-serif;
   font-weight: 400;

}

.description {
   color: #fff;
   font-family: 'Josefin Sans', sans-serif;
   font-weight: 300;

}

input[type="submit"] {
   color: #fff;
   text-transform: uppercase;
   background-color: @blue;
   font-family: 'Aleo-Bold';

}

.btn {
   cursor: pointer;
   background-color: @blue;
   padding:20px 0;
   width: 230px;
   text-transform: uppercase;
   text-align: center;
   opacity: 0.8;
   font-family: 'Aleo-Bold';

}



.wrapper {
   width: 1200px;
   margin-left: auto;
   margin-right: auto;
   
}
